@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway';
}

html {
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1),
    rgb(193, 193, 193)
  );
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

/* ---- NAVIGATION ---- */

header {
  position: sticky;
  top: 0;
  z-index: 100 !important;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #04050f;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  margin: 20px;
}

nav a:hover {
  text-shadow: 0 0 5px #ffffff;
  transition: 0.3s;
}

/* ---- CAROUSEL ---- */
.thumbs-wrapper {
  display: none;
}

.carouselImg {
  border-bottom: 5px solid #04050f;
}

.carouselImg img {
  height: 30vh;
  text-align: center;
  object-fit: cover;
}

/* ----HOMEPAGE CONTENT ---- */
.homepageSection {
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 4rem;
}

.homepageHeading {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

/* ---- SUBPAGE CONTENT ---- */
.subpage img {
  height: 95vh;
  width: 100vw;
  object-fit: cover;
}

.subpage div {
  position: absolute;
  color: white;
  top: 40%;
  width: 100%;
  text-align: center;
}

.subpage h2 {
  text-shadow: 2px 2px #000000;
  margin-bottom: 1.5rem;
}

.subpage button {
  background-color: #37c987;
  box-shadow: 10px 5px 5px rgb(78, 117, 101);
  padding: 5px;
  border-radius: 5px;
}

.subpage button:hover {
  background-color: #a2d4bd;
  transition: 0.3s;
}

/* --- RESIZE HOMEPAGE CONTENT FOR PHONE SCREEN ---- */
@media (max-width: 800px) {
  .homepageSection {
    margin-left: 10%;
    margin-right: 10%;
  }

  nav a {
    font-size: 0.8rem;
  }
}
